In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
data_boston = pd.read_csv("content/boston.csv", header=None)
print(data_boston.shape)
data_boston.head()

(506, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [15]:
data_gauss = pd.read_csv("content/gauss.csv")
print(data_gauss.shape)
data_gauss.head()

(250, 2)

     x         y
0  1.0  97.58776
1  2.0  97.76344
2  3.0  96.56705
3  4.0  92.52037
4  5.0  91.15097

# quest√£o 1

In [16]:
boston_train, boston_test = train_test_split(data_boston, test_size=0.2, random_state=101)

# test iris

In [ ]:
from sklearn.datasets import load_iris

In [5]:
iris = load_iris()

In [8]:
df_iris = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df_iris['target'] = iris.target
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0